:root {
    --hex-width: 100px; /* Width of the hexagon */
    --hex-height: calc(var(--hex-width) * 0.866); /* 0.866 is approximately sqrt(3)/2 */
    --hex-margin-top: calc(var(--hex-height) / 2);
    --hex-column: calc(var(--hex-height) * 0.866);
    --hex-row: var(--hex-column);
    --hexgrid-columns: 6; /* must be even to make the staggering work */
}

.hex-grid {
    display: grid;
    grid-template-columns: repeat(var(--hexgrid-columns), var(--hex-column));
    gap: 0.1em;
}

.hex {
    position: relative;
    width: var(--hex-width);
    height: var(--hex-height);
    background-color: #6a1b9a;
    color: white;
    line-height: var(--hex-height);
    text-align: center;
    clip-path: polygon( 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50% );
    display: block;
    border-radius: 33%; /* for box-shadow shape*/
}

    .hex:nth-child(even) {
        margin-top: var(--hex-margin-top);
    }

    .hex.active {
        box-shadow: 0px 0px 2em -1px yellow inset;
    }

    .hex:hover:not(.active) {
        box-shadow: 0px 0px 2em -1px white inset;
    }


.row-1 {
    transform: translateY(-50%);
}

.row-2 {
    transform: translateY(-100%);
}

.row-3 {
    transform: translateY(-150%);
}

.row-4 {
    transform: translateY(-200%);
}

.row-5 {
    transform: translateY(-250%);
}

.row-6 {
    transform: translateY(-300%);
}

.row-7 {
    transform: translateY(-350%);
}

.row-8 {
    transform: translateY(-400%);
}

.row-9 {
    transform: translateY(-450%);
}

.row-10 {
    transform: translateY(-500%);
}

.row-11 {
    transform: translateY(-550%);
}

.row-12 {
    transform: translateY(-600%);
}

.row-13 {
    transform: translateY(-650%);
}

.row-14 {
    transform: translateY(-700%);
}

.row-15 {
    transform: translateY(-750%);
}


.ship {
    width: var(--hex-width);
    height: var(--hex-height);
    /*   background-image: url('/images/shipsprite.png');*/
    background-size: 600% 100%;
}

    .ship.StyleBLevel1 {
        background-image: url('/images/ShipB1.png');
    }

    .ship.StyleBLevel2 {
        background-image: url('/images/ShipB2.png');
    }

    .ship.StyleBLevel3 {
        background-image: url('/images/ShipB3.png');
    }

    .ship.StyleBLevel4 {
        background-image: url('/images/ShipB4.png');
    }

    .ship.StyleBLevel5 {
        background-image: url('/images/ShipB5.png');
    }

    .ship.StyleRLevel1 {
        background-image: url('/images/ShipR1.png');
    }

    .ship.StyleRLevel2 {
        background-image: url('/images/ShipR2.png');
    }

    .ship.StyleRLevel3 {
        background-image: url('/images/ShipR3.png');
    }

    .ship.StyleRLevel4 {
        background-image: url('/images/ShipR4.png');
    }

    .ship.StyleRLevel5 {
        background-image: url('/images/ShipR5.png');
    }

    .ship.StyleYLevel1 {
        background-image: url('/images/ShipY1.png');
    }

    .ship.StyleYLevel2 {
        background-image: url('/images/ShipY2.png');
    }

    .ship.StyleYLevel3 {
        background-image: url('/images/ShipY3.png');
    }

    .ship.StyleYLevel4 {
        background-image: url('/images/ShipY4.png');
    }

    .ship.StyleYLevel5 {
        background-image: url('/images/ShipY5.png');
    }

    .ship.heading1 {
        background-position: 0 0;
    }

    .ship.heading2 {
        background-position: 20% 0;
    }

    .ship.heading3 {
        background-position: 40% 0;
    }

    .ship.heading4 {
        background-position: 60% 0;
    }

    .ship.heading5 {
        background-position: 80% 0;
    }

    .ship.heading6 {
        background-position: 100% 0;
    }
