@namespace Hexstor.Module.HexGrid
@inherits ModuleBase
@* Required *@
<MudThemeProvider IsDarkMode=true />
<MudPopoverProvider />

@* Needed for dialogs 
<MudDialogProvider />*@

@* Needed for snackbars 
<MudSnackbarProvider />*@

<div class="hexgrid">
    <div class="hexrow">
        <div>
            <span>0,0</span>
            <div></div>
            <div></div>
        </div>
        <div>
            <span>1,1</span>
            <div></div>
            <div></div>
        </div>
        <div>
            <span>2,0</span>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="hexrow">
        <div>
            <span>0,2</span>
            <div></div>
            <div></div>
        </div>
        <div>
            <span>1,3</span>
            <div></div>
            <div></div>
        </div>
        <div>
            <span>2,2</span>
            <div></div>
            <div></div>
        </div>
    </div>
</div>