@namespace Hexstor.Module.HexGrid
@inherits ModuleBase
@* Required *@
<MudThemeProvider IsDarkMode=true />
<MudPopoverProvider />

@* Needed for dialogs 
<MudDialogProvider />*@

@* Needed for snackbars 
<MudSnackbarProvider />*@

<div class="hex-grid"> 
    <div class="hex"></div> 
    <div class="hex"></div> 
    <div class="hex"></div> 
    <div class="hex"></div> 
    <div class="hex"></div> 
    <div class="hex"></div> 
    <div class="hex"></div> 
    <div class="hex"></div> 
</div>